@media (max-width: 600px) {
  .edit-profile-container {
    padding: 0 10px;
  }
}

.edit-profile-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

.edit-username-input, .edit-password-input {
  border: solid #CCCCCC;
  border-radius: 2px;
  margin: 0 0 10px 0;
  font-size: 14px;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
}

.edit-username-input:focus, .edit-password-input:focus {
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
}

.edit-username-submit-btn {
  margin-top: auto;
  align-self: flex-end;
}

h5{
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 14px;
}